html {
    font-size: 62.5%;
}

body {
   margin: 0;
   background-color:#202328;
   color: #C1A564;
   font-family: 'Montserrat';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

li, a, button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6,
p, a, ul, span, div {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 21vw;
    height: 10vh;
    border: 3px solid #C1A564;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);
    margin-left: 30%;

    font-size: 1.7vw;
    color: #C1A564;
}

/* Головна */
.wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100vw;
    height: 100vh;

    position: relative;
}

.block_page {
    padding: 4.6vh 0 8.3vh 0;
}

.block_logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.9vh;
    padding-left: 1.5vw;
}

.logo_svg {
    width: 1.0vw;
    /* height: 5.6vh; */
}

.first_letеer {
    font-size: 5.10vw;
    font-weight: 600;
    color: #C1A564;

    position: relative;
}

.first_letеer::after {
    content: 'Design';
    color: #636568;
    font-size: 2.3vw;
    font-weight: 300;

    position: absolute;
    transform: translate(-20%, 0%);
    z-index: -1;
}

.logo_letter {
    width: 2.6vw;
    max-height: 34rem;
    padding-left: 1.0vw;
    border-right: 1px solid #C1A564;
}

.logo_letter-img {
    color: #636568;

    font-weight: 300;
    font-size: 3.2rem;
}

.social_list {
    display: flex;
    flex-direction: column;
    gap: 15%;
    margin-left: 3.1vw;
}

.social_item {
    width: 3.9rem;
    height: 3.9rem;
    border: 1.5px solid #C1A564;
    border-radius: 1rem;
    margin-bottom: 2.3vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.social_img {
    width: 1.3vw;
}

.fb {
    background: url('/images/Сгруппировать 5.svg') center no-repeat;
}

.instagram {
    background: url('/images/Сгруппировать 4.svg') center no-repeat
}

.be {
    background: url('/images/Сгруппировать 6.svg') center no-repeat
}

.nav_list {
    display: flex;
    flex-direction: column;
    margin-left: 3.8vw;

    position: relative;
}

.nav_list::after {
    position: absolute;
    content: 'МОЇ';

    color: #636568;
    font-size: 4.5vw;
    font-weight: 900;
    
    transform: rotate(90deg) translate(25%, 130%);
}

.nav_item {
    font-size: 2.1vw;
    font-weight: 300;
    color: #636568;
}

.nav_item:hover {
    font-weight: 300;
    color: #A7A7A8;

    transition: 0.1s linear;
}

.title_block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: 40%;
    left: 20%;

    color: #C1A564;

    position: absolute;
    z-index: 10;
}

.title_desing {
    align-self: center;
    font-size: 5vw;
    font-weight: 400;
}

.subtitle_desing {
    align-self: center;
    font-size: 2.8vw;
    font-weight: 400;

    margin-bottom: 4.6vh;
}

.desing_link {
    align-self: start;
    background: #202328;
}

/* Slider */

.slider_block {
    max-width: 50%;
    /* overflow: hidden; */
}

.slider_block_portholio {
    max-width: 70%;
}

.slider_block-portholio {
    max-width: 70%;
}

.slider {
    position: relative;
}

.slider_item {
    margin: 0;
}

.slick-list { 
    overflow: hidden;
}

.slick-track{
    display: flex;
    overflow: hidden;
}


.slider_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    background-position:center center;
    background-size:cover;
}

.slick-arrow_block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 15rem;

    position: absolute;
    top: 0;
    left: 46%;
    z-index: 5;
}

.slick-arrow_portholio {
    left: 25.8%;
}

.line_top {
    width: 0.8rem;
    height: 12rem;
    background: #C1A564;
}

.slick-arrow {
    width: 5.2rem;
    height: 5.2rem;
    border: 3px solid #C1A564;
    border-radius: 50%;

    font-size: 0;
    outline: none;
}

.slick-arrow.slick-prev{
    background:url('/images/left-arrow.svg') #202328 0 0/ 100% no-repeat;
}

.slick-arrow.slick-next {
    background:url('/images/right-arrow.svg') #202328 0 0/ 100% no-repeat;
}

/* slider_dots */

.slick-dots {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 30%;
    position: absolute;

    top: 88%;
    left: 60%;
    z-index: 1000;
}

.slick-dots li button {
    opacity: 0;
    outline: none;                     
}

.slick-dots li {
    width: 1.8rem;
    height: 1.8rem;
    background: none;
    border: 2px solid #C1A564;
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 1.8rem;
    height: 2.8rem;
    background: #202328;
    border: 2px solid #C1A564;
    border-radius: 45%;
}

/* Popap */

.popap_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;

    /* width: 61.2vw;
    height: 30.6vh; */

    color: #C1A564;
}

.title_popap {
    
    font-size: 4.1vw;
    font-weight: 400;

    margin-bottom: 2.0vh;
}

.subtitle_popap {
    font-size: 2.4vw;
    font-weight: 400;

    margin-bottom: 2.5vh;
}

/* Form */
.form_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form_style {
    border: 3px solid #C1A564;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);
    background: #202328;
    outline: none;
    text-align: -webkit-center;
    color: #C1A564;
}

.flex_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.5vh;
}

input, textarea {
    font-family:inherit;
    font-size: 1.3vw;
    font-weight: 400;
  }

.form_input {
    width: 29.1vw;
    height: 9.3vh;
}

.form_textarea {
    width: 60.2vw;
    height: 32.4vh;

    margin-bottom: 9.3vh;
}

.form_link {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);
    margin-left: 30%;
}

/* Map blok */
.map_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    flex-grow: inherit;
    align-items: center;
    font-weight: 300;

    margin-right: 10%;
}

.map_block a.btn {
    margin: 0;
}

.map {
    width: 61.2vw;
    height: 42.6vh;

    position: relative;
    overflow: hidden;

    border: 1px solid #C1A564;
    margin-bottom: 2.0vw;
}

.iframe_map {
    height:100%;
    width:100%;
    position:absolute;
}

.map_address {
    font-size: 1.6vw;
    align-self: center;
    margin-bottom: 2.0vw;
}
.map_mail, .map_tel {
    font-size: 1.2vw;
    align-self: center;
}

.map_tel {
    margin-bottom: 2.0vw;
}

/* Price */

.price_block {
    align-self: center;
    width: 83.3vw;
    overflow: hidden;
}

.card_flex {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 0.8vw;
}

.card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    width: 19vw;
    height: 60vh;
    border: 1px solid #C1A564;

    margin-bottom: 9rem;
    padding: 0.8rem;
    overflow: hidden;
    text-overflow: clip;
}

.card_title {
    font-size: 1.4vw;
    font-weight: 300;

    align-self: center;
}

.price_coin {
    font-size:  1.4vw;
    font-weight: 300;

    align-self: center;
    margin-bottom: 1.2rem;
}

.price_subtitle {
    font-size: 0.9vw;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.price_text {
    text-align: start;

    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 0.8rem;
    /* overflow: auto; */
}

/* Portholio */

.portholio {
    position: absolute;
    top: 20%;
    left: 10%;
}

.portholio_title {
    font-size: 5rem;
    font-weight: 400;

    margin-bottom: 3rem;
}

.portholio-btn {
    background: #202328;

    margin-left: 0;
    z-index: 6;
    top: 67%;
    left: 20%;
    position: absolute;
}

/* Laptop */
@media screen and (max-width: 1370px)  {
    .social_list {
        flex-direction: row;
        margin-left: 3vw;
    }

    .logo_letter img {
        border-right: 1px solid #C1A564;
        height: 80%;
    }

    .slick-arrow_block {
        left: 44%;
    }

    .slick-arrow_portholio {
        left: 24%;
    }
}